.cardView {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

.imagenPortada {
  display: flex;
  height: 300px;
  width: auto;
}

.separador {
  padding: 10px;
  margin-bottom: 15px;
}
