.cardView {
  display: inline-flex;
  width: 40%;
  margin: 5px;
  flex-direction: row;
  padding: 2px;
  flex-grow: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

h5 {
  color: black;
}
